<div class="product-card">
	<div class="product-card-inner flex --direction-col">
		<div class="product-card-img">
			<div class="product-card-img-top flex --justify-end --align-center">
				<div class="wishlist-btn">
					<button class='js-add-to-wishlist flex-center'>
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21" fill="none">
							<path stroke="#000" d="M6.77305 0.036036C4.94844 0.0256757 3.20293 0.771621 1.96895 2.09257C0.734961 3.40833 0.0546875 5.21622 0.0546875 7.18468C0.0546875 9.21013 0.835156 11.0802 2.50684 13.059C3.31367 14.0122 6.49355 16.7369 11.2344 20.5236C11.9727 21.109 13.0273 21.109 13.7656 20.5236C18.5064 16.7369 21.6863 14.0173 22.4932 13.059C24.1648 11.0802 24.9453 9.21013 24.9453 7.18468C24.9453 5.2214 24.265 3.41351 23.0258 2.09257C21.7918 0.771621 20.0463 0.0256757 18.2217 0.036036C16.8453 0.036036 15.5797 0.465991 14.4723 1.31554C13.8816 1.7714 13.3596 2.30496 12.9271 2.90068C12.7584 3.13378 12.4262 3.18559 12.1889 3.01464C12.1467 2.98356 12.1045 2.94212 12.0729 2.90068C11.6404 2.29977 11.1184 1.7714 10.533 1.31554C9.41504 0.465991 8.15469 0.036036 6.77305 0.036036Z" fill="white"/>
						</svg>
					</button>
				</div>
			</div>
			<a href="#" class="product-card-img-media">
				<img width="300" height="250" src="./img/product-image.png" alt="product title">
			</a>
		</div>
		<div class="product-card-bottom  flex --direction-col">
			<div class="product-card-tags">
				<span>Bouquet</span>
			</div>
			<div class="product-card-title">
				<a href="#">
					Name of bouquet
				</a>
			</div>
			<div class="product-card-price">
<!--				<span class="default-price">$ 200</span>-->
				<span class="sale-price">
					<span class="sale-price-new">$ 200</span>
					<span class="sale-price-old">$ 500</span>
				</span>
			</div>
			<div class="product-card-options product-size flex flex-center">

				<input type="radio" class="hidden" name="product-size-5-sale" id="product-size-s-5-sale" checked="true">
				<label for="product-size-s-5-sale" class="product-size-item">S</label>

				<input type="radio" class="hidden" name="product-size-5-sale" id="product-size-m-5-sale">
				<label for="product-size-m-5-sale" class="product-size-item">M</label>

				<input type="radio" class="hidden" name="product-size-5-sale" id="product-size-l-5-sale">
				<label for="product-size-l-5-sale" class="product-size-item">L</label>

			</div>
			<div class="product-card-button">
				<button class="btn js-add-to-cart add-to-cart">Add to Cart</button>
			</div>
		</div>
	</div>
</div>
