<div class="product-fixed-form">
	<div class="product-fixed-form-wrapper grid">
		<div class="product-fixed-form-nav">
			<ul class="flex --align-center">
				<li><a data-href="spec" href="javascript:void(0)">Характеристики
				</a></li>
				<li><a data-href="desc" href="javascript:void(0)">Опис</a></li>
				<li><a data-href="recommendation" href="javascript:void(0)">рекомендації</a></a></li>
			</ul>
		</div>
		<div class="product-fixed-form-info">
			<div class="product-fixed-form-title">
				glo HYPER X2 Black Red
			</div>
			<div class="product-fixed-form-price flex --align-center">
				<div class="product-price--old">
					<span class="product-price">1999 грн</span>
				</div>
				<div class="product-price--default">
					<span class="product-price">
						999 грн
					</span>
				</div>
			</div>
		</div>
		<div class="product-fixed-form-form">
			<div class="product-form-inner flex --align-center">
				<div class="quantity-input flex --align-center">
					<button class="quantity-input-btn disabled flex-center quantity-input-minus">
						<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M24 16.0652H8" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
						</svg>
					</button>
					<input type="number" id="123" value="1" min="1">
					<button class="quantity-input-btn flex-center quantity-input-plus">
						<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M16 8.06519V24.0652" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
							<path d="M24 16.0652H8" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
						</svg>
					</button>
				</div>
				<div class="button-wrapper button-wrapper-orange">
<!--                    add class cart-added if item add to cart-->
					<button class="btn js-fixed-form-btn add-to-cart btn-orange">
						<div class="loading-overlay__spinner hidden flex-center">
							<svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
								<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
							</svg>
						</div>
                        <span class="btn__text cart-btn-hidden">Додано</span>
						<span class="btn__text">Додати в кошик</span>
                        <i class="cart-btn-hidden">
                            <svg width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.5 1.06519L8.5 13.0652L1.5 6.20804" stroke="#FF5500" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </i>
                    </button>
				</div>
				<div class="wishlist-btn ">
					<button class="js-add-to-wishlist product-img-btn flex-center wishlist-btn">
						<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6 10.9999C6 10.9999 0 7.60598 0 3.48477C0 2.75622 0.249897 2.05017 0.707173 1.48675C1.16445 0.923325 1.80086 0.537338 2.50812 0.394457C3.21538 0.251576 3.9498 0.360627 4.58644 0.703056C5.22307 1.04549 5.72259 1.60014 6 2.27265C6.27741 1.60014 6.77693 1.04549 7.41356 0.703056C8.0502 0.360627 8.78462 0.251576 9.49188 0.394457C10.1991 0.537338 10.8356 0.923325 11.2928 1.48675C11.7501 2.05017 12 2.75622 12 3.48477C12 7.60598 6 10.9999 6 10.9999Z" fill="#2B2D2F"/>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="fixed-form--mobile">
	<div class="fixed-form-main flex --align-stretch">
		<div class="fixed-form-form --justify-between --align-center flex">
			<div class="fixed-form-form-col fixed-form-wishlist">
				<div class="wishlist-btn ">
					<button class="js-add-to-wishlist product-img-btn flex-center wishlist-btn">
						<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6 10.9999C6 10.9999 0 7.60598 0 3.48477C0 2.75622 0.249897 2.05017 0.707173 1.48675C1.16445 0.923325 1.80086 0.537338 2.50812 0.394457C3.21538 0.251576 3.9498 0.360627 4.58644 0.703056C5.22307 1.04549 5.72259 1.60014 6 2.27265C6.27741 1.60014 6.77693 1.04549 7.41356 0.703056C8.0502 0.360627 8.78462 0.251576 9.49188 0.394457C10.1991 0.537338 10.8356 0.923325 11.2928 1.48675C11.7501 2.05017 12 2.75622 12 3.48477C12 7.60598 6 10.9999 6 10.9999Z" fill="#2B2D2F"/>
						</svg>
					</button>
				</div>
			</div>
			<div class="fixed-form-form-col flex --align-center fixed-form-info">
				<p class="fixed-form-product-title">glo HYPER X2 Black Red</p>
				<div class="fixed-form-price flex --align-center">
					<div class="product-price--old">
						<span class="product-price">1999 грн</span>
					</div>
					<div class="product-price--default">
					<span class="product-price">
						999 грн
					</span>
					</div>
				</div>
			</div>
			<div class="fixed-form-form-col flex-center">
				<button class="fixed-form-add-to-cart btn btn-orange flex-center js-fixed-form-btn">
					<div class="loading-overlay__spinner hidden flex-center">

						<svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
							<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
						</svg>

					</div>
					<span class="btn__text flex-center">
						<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16 8.06519V24.0652" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
						<path d="M24 16.0652H8" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
					</svg>
					</span>

				</button>
			</div>
		</div>

		<div class="fixed-form-variant-img flex-center">
			<img class="active" src="./img/product-img-2.png" width="58" height="58" alt="product">
			<img src="./img/product-option-2.png" width="58" height="58" alt="product">
			<img src="./img/product-option-3.png" width="58" height="58" alt="product">
			<img src="./img/product-option-4.png" width="58" height="58" alt="product">
			<img src="./img/product-option-5.png" width="58" height="58" alt="product">
			<img src="./img/product-option-6.png" width="58" height="58" alt="product">
			<img src="./img/product-option-7.png" width="58" height="58" alt="product">
		</div>

	</div>
	<div class="fixed-form-added">
		<div class="fixed-form-added-inner">

			<div class="fixed-form-added-top flex --align-stretch">
				<div class="fixed-form-added-img flex-center">
					<img width="58" height="58" src="./img/product-img-2.png" alt="product">
				</div>
				<div class="fixed-form-added-qty">

					<div class="fixed-form-added-qty-title --justify-between flex --align-center">
						<p>Додано <span style="font-weight: 800;">glo HYPER X2 Black red</span></p>
						<button class="fixed-form-close-btn flex-center">
							<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12.6569 1.34313L7 6.99999M7 6.99999L1.34315 1.34313M7 6.99999L1.34315 12.6568M7 6.99999L12.6569 12.6568" stroke="#FFFFFF" stroke-width="2"/>
							</svg>
						</button>
					</div>

					<div class="flex --align-center fixed-form-added-qty-input">
						<div class="quantity-input flex --align-center">
							<button class="quantity-input-btn disabled flex-center quantity-input-minus">
								<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M24 16.0652H8" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
								</svg>
							</button>
							<input type="number" id="333" value="1" min="1">
							<button class="quantity-input-btn flex-center quantity-input-plus">
								<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16 8.06519V24.0652" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
									<path d="M24 16.0652H8" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
								</svg>
							</button>
						</div>

						<div class="fixed-form-added-price">
							<div class="product-price--old">
								<span class="product-price">1999 грн</span>
							</div>
							<div class="product-price--default">
								<span class="product-price">
									999 грн
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fixed-form-added-btn flex-center">
				<div class="button-wrapper button-wrapper-orange">
					<a class="btn btn-orange">
						<span class="btn__text">
							Перейти в кошик
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
