<section class="news news-list">
	<div class="container">
        <div class="h1">Блог</div>
        <div class="slider-wrapper">
            <div class="news-box js-news-slider">
                <a href="#" class="news-item">
                                <span class="news-img">
                                    <img src="./img/img-news-1.jpg" alt="news image">
                                </span>
                    <span class="news-info">
                                    <span class="news-date">26.04.2023</span>
                                    <span class="news-title">Чим девайси glo™ відрізняються від електронних сигарет</span>
                                    <span class="news-text">В планах відвідати понад 100 населених пунктів.</span>
                                </span>
                </a>
                <a href="#" class="news-item">
                                <span class="news-img">
                                    <img src="./img/img-news-2.jpg" alt="news image">
                                </span>
                    <span class="news-info">
                                    <span class="news-date">26.04.2023</span>
                                    <span class="news-title">Де купити glo™ в Ужгороді?</span>
                                    <span class="news-text">У головному місті Закарпатської області доступні всі основні послуги бренду glo™, розповідаємо? де їх шукати.</span>
                                </span>
                </a>
                <a href="#" class="news-item">
                                <span class="news-img">
                                    <img src="./img/img-news-3.jpg" alt="news image">
                                </span>
                    <span class="news-info">
                                    <span class="news-date">26.04.2023</span>
                                    <span class="news-title">Реєструйся на сайті glo™ та отримуй більше переваг</span>
                                    <span class="news-text">ХР, спеціальні пропозиції та безкоштовні послуги у фірмових просторах glo™. Розповідаємо, навіщо реєструватися на сайті та як зареєструвати свій девайс.</span>
                                </span>
                </a>
            </div>
            <div class="slider-dots"></div>
        </div>
	</div>
</section>
