<section class="main-collection">
	<div class="container">
		<div class="main-collection-inner">
			<div class="main-collection-item" style="background-image: url('../../img/index-page/bouquets.jpg');">
				<div class="main-collection-item__inner flex flex-center">
					<div class="main-collection-item__title">Bouquets</div>
					<a href="" class="main-collection-item__btn btn">Shop Now</a>
				</div>
			</div>
			<div class="main-collection-item" style="background-image: url('../../img/index-page/weddings.jpg');">
				<div class="main-collection-item__inner flex flex-center">
					<div class="main-collection-item__title">Weddings</div>
					<a href="" class="main-collection-item__btn btn">Shop Now</a>
				</div>
			</div>
			<div class="main-collection-item" style="background-image: url('../../img/index-page/boxes.jpg');">
				<div class="main-collection-item__inner flex flex-center">
					<div class="main-collection-item__title">Boxes</div>
					<a href="" class="main-collection-item__btn btn">Shop Now</a>
				</div>
			</div>
			<div class="main-collection-item" style="background-image: url('../../img/index-page/baloons.jpg');">
				<div class="main-collection-item__inner flex flex-center">
					<div class="main-collection-item__title">Baloons</div>
					<a href="" class="main-collection-item__btn btn">Shop Now</a>
				</div>
			</div>
			<div class="main-collection-item" style="background-image: url('../../img/index-page/funeral.jpg');">
				<div class="main-collection-item__inner flex flex-center">
					<div class="main-collection-item__title">Funeral</div>
					<a href="" class="main-collection-item__btn btn">Shop Now</a>
				</div>
			</div>
			<div class="main-collection-item" style="background-image: url('../../img/index-page/toys.jpg');">
				<div class="main-collection-item__inner flex flex-center">
					<div class="main-collection-item__title">Toys</div>
					<a href="" class="main-collection-item__btn btn">Shop Now</a>
				</div>
			</div>
		</div>
	</div>
</section>
