<section class="main-about">
	<div class="main-about-bg">
		<img src="./img/big-logo.png" alt="Golden Flowers" width="470" height="382">
	</div>
	<div class="container">
		<div class="main-about-title">
			<h1><span>Golden</span><span>Flowers</span></h1>
		</div>
		<div class="main-about-text">
			<p>Golden Flowers - premium quality author's floristry. Founder Elena Іatsenko began floristry as a hobby more than 20 years ago. Her love for flowers, aesthetics and desire to give emotions through bouquets grew into the unique Golden Flowers style. Confessing love without words is easy!!!! Trust Golden Flowers bouquets.</p>
		</div>
	</div>
</section>
