<section class="main-banner">
	<div class="swiper main-banner-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="main-banner__item">
					<a href="/">
						<picture>
							<source media="(max-width: 768px)" srcset="./img/index-page/main-banner-mobile.jpg">
							<source srcset="./img/index-page/main-banner.jpg">
							<img src="./img/index-page/main-banner.jpg" alt="golden-flower">
						</picture>
						<div class="main-banner__item--content">
							<div class="container">
								<div class="main-banner__item--content__title">
									Special offer for
									Valentine's Day
								</div>
								<div class="main-banner__item--content__text">
									quick way to create happiness
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
<!--			<div class="swiper-slide">-->
<!--				<div class="main-banner__item">-->
<!--					<a href="/">-->
<!--						<picture>-->
<!--							<source media="(max-width: 768px)" srcset="./img/index-page/main-banner-mobile.jpg">-->
<!--							<source srcset="./img/index-page/main-banner.jpg">-->
<!--							<img src="./img/index-page/main-banner.jpg" alt="golden-flower">-->
<!--						</picture>-->
<!--						<div class="main-banner__item&#45;&#45;content">-->
<!--							<div class="container">-->
<!--								<div class="main-banner__item&#45;&#45;content__title">-->
<!--									Special offer for1-->
<!--									Valentine's Day1-->
<!--								</div>-->
<!--								<div class="main-banner__item&#45;&#45;content__text">-->
<!--									quick way to create happiness1-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</a>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="swiper-slide">-->
<!--				<div class="main-banner__item">-->
<!--					<a href="/">-->
<!--						<picture>-->
<!--							<source media="(max-width: 768px)" srcset="./img/index-page/main-banner-mobile.jpg">-->
<!--							<source srcset="./img/index-page/main-banner.jpg">-->
<!--							<img src="./img/index-page/main-banner.jpg" alt="golden-flower">-->
<!--						</picture>-->
<!--						<div class="main-banner__item&#45;&#45;content">-->
<!--							<div class="container">-->
<!--								<div class="main-banner__item&#45;&#45;content__title">-->
<!--									Special offer for2-->
<!--									Valentine's Day2-->
<!--								</div>-->
<!--								<div class="main-banner__item&#45;&#45;content__text">-->
<!--									quick way to create happiness2-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</a>-->
<!--				</div>-->
<!--			</div>-->
		</div>

		<div class="swiper-pagination"></div>

	</div>
</section>
