<section class="mlm-choose-invited">
	<div class="container">
		<div class="mlm-choose-invited__title mlm-section__title">
			Вибирай як саме придбати девайс <br>
			та отримати <span class="orange">200 ХР</span>
		</div>
		<div class="mlm-choose-invited__items">
			<div class="mlm-choose-invited__item flex --justify-between --align-center">
				<div class="image-content">
					<img src="./img/mlm-choose-1.png" alt="circle">
				</div>
				<div class="text-content">
					<div class="text-content__title">
						<span class="orange">Офлайн.</span> При покупці девайсу <br> у фірмових магазинах
					</div>
					<div class="text-content__text">
						Покажи консультанту свій інвайт-код, він внесе його в систему, тобі допоможуть зареєструвати новий девайс та ХР нарахуються автоматично протягом 48 годин.
					</div>
				</div>
			</div>
			<div class="mlm-choose-invited__item flex --justify-between --align-center">
				<div class="text-content">
					<div class="text-content__title">
						<span class="orange">Онлайн.</span> При покупці девайсу на&nbsp;веб-сайті
					</div>
					<div class="text-content__text">
						Зазнач свій інвай-код при оформленні покупки. Відповідне поле буде доступне в кошику та на сторінці оформлення замовлення. Коли отримаєш девайс, зареєструй його. Після успішної реєстрації ХР нарахуються автоматично протягом 48 годин.
					</div>
				</div>
				<div class="image-content">
					<img src="./img/mlm-choose-2.png" alt="circle">
				</div>
			</div>
		</div>
	</div>
</section>
