<section class="mlm-community">
	<div class="container">
		<div class="mlm-community__title mlm-section__title">
			Спілкуйся з друзями <br>
			в <span class="orange">o′go</span> ком’юніті
		</div>
		<div class="mlm-community__text">
			Долучайся до наших спільнот, щоб брати участь у різноманітних активностях та дізнаватись новинки бренду першим
		</div>
		<div class="mlm-community__socials flex --justify-center">
			<a href="/" class="mlm-community__socials--item" target="_blank">
				<div class="item-image">
					<img src="./img/telegram_bot.svg" alt="o`go-telegram">
				</div>
				<div class="item-text">
					Чат-бот <br>
					glo_Ukraine
				</div>
			</a>
			<a href="/" class="mlm-community__socials--item" target="_blank">
				<div class="item-image">
					<img src="./img/mlm-master.svg" alt="o`go-майстерня">
				</div>
				<div class="item-text">
					Майстерня
				</div>
			</a>
		</div>
	</div>
</section>
