<section class="mlm-banner">
	<div class="container">
		<div class="mlm-banner__image">
			<picture>
				<source media="(max-width: 576px)" srcset="./img/mlm-banner-mob.png">
				<source media="(min-width: 577px)" srcset="./img/mlm-banner.png">
				<img src="./img/mlm-banner.png" alt="mlm">
			</picture>
		</div>
		<div class="mlm-banner__items">
			<div class="mlm-banner__items--item">
				<div class="title">
					За приведених <br>
					друзів ти отримаєш:
				</div>
				<div class="content">
					<div class="content-item flex">
						<div class="content-item__label">
							200 xp
						</div>
						<div class="content-item__text">
							за 1-го друга
						</div>
					</div>
					<div class="content-item flex">
						<div class="content-item__label">
							250 xp
						</div>
						<div class="content-item__text">
							за 2-го друга
						</div>
					</div>
					<div class="content-item flex">
						<div class="content-item__label">
							300 xp
						</div>
						<div class="content-item__text">
							за 3-го друга
						</div>
					</div>
					<div class="content-item flex">
						<div class="content-item__label">
							350 xp
						</div>
						<div class="content-item__text">
							за 4-го і більше
						</div>
					</div>
				</div>
			</div>
			<div class="mlm-banner__items--item">
				<div class="title">
					Запрошений друг отримує:
				</div>
				<div class="content">
					<div class="content-item flex flex-center mt-60">
						<div class="content-item__label">
							200 xp
						</div>
					</div>
				</div>
			</div>
			<div class="mlm-banner__items--item">
				<div class="title">
					Якщо тусовка <br>
					продовжує рости
				</div>
				<div class="content">
					<div class="content-item flex mb-23">
						<div class="content-item__label">
							30 xp
						</div>
						<div class="content-item__text">
							за друга, <br>
							що привів твій друг
						</div>
					</div>
					<div class="content-item flex">
						<div class="content-item__label">
							20 xp
						</div>
						<div class="content-item__text">
							за тих, кого <br>
							привели друзі друзів
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
