<section class="mlm-main-invited">
	<div class="container">
		<div class="mlm-main-invited--title">
			<h1>
				<span class="orange">Привіт!</span> Круто, що ти перейшов <br>
				за&nbsp;лінком від друга
			</h1>
		</div>
		<div class="mlm-main-invited--text">
			<p>
				Твій друг надіслав тобі інвайт-код на новенький девайс. <br>
				Введи його при купівлі девайсу на сайті або покажи консультанту у фірмовому магазині glo™ та отримай <span class="orange">200 ХР за реєстрацію девайсу!</span> Твоєму другові також нарахуються ХР!
			</p>
		</div>
		<div class="mlm-main-invited--row flex flex-center">
			<input type="text" value="ХХХ 420 069 ААА 550" readonly>
			<div class="button-wrapper button-wrapper-orange">
				<button class="btn btn-orange js-mlm-invited-copy-code">
					<span class="btn__text">Cкопіювати код</span>
				</button>
			</div>
		</div>
		<div class="mlm-main-invited--caption">
			<p>* Цей згенерований інвайт-код діє тільки для тебе. Якщо твій друг захоче запросити нового друга, необхідно згенерувати новий інвайт-код.</p>
		</div>
	</div>
</section>
