<section class="mlm-receiving">
	<div class="container">
		<div class="mlm-receiving__title mlm-section__title">
			ХР = <span class="orange">o′go</span> які штуки
		</div>
		<div class="mlm-receiving__text">
			Ти отримуєш ХР за:
		</div>
		<div class="mlm-receiving-slider js-mlm-receiving-slider">
			<div>
				<div class="mlm-receiving-slider__slide" style="background-image: url('./img/mlm-receiving-1.png');">
					<div class="mlm-receiving-slider__slide--title">
						До 350 ХР за <br>
						приведеного друга
					</div>
				</div>
			</div>
			<div>
				<div class="mlm-receiving-slider__slide" style="background-image: url('./img/mlm-receiving-2.png');">
					<div class="mlm-receiving-slider__slide--title">
						Реєструй девайс <br>
						та отримуй 50 ХР
					</div>
					<a href="/" class="mlm-receiving-slider__slide--btn">Детальніше</a>
				</div>
			</div>
			<div>
				<div class="mlm-receiving-slider__slide" style="background-image: url('./img/mlm-receiving-3.png');">
					<div class="mlm-receiving-slider__slide--title">
						Залишай відгуки шляхом <br>
						сканування пачки
					</div>
					<a href="/" class="mlm-receiving-slider__slide--btn">Детальніше</a>
				</div>
			</div>

		</div>
	</div>
</section>

