<section class="mlm-bubble">
	<div class="container">
		<div class="mlm-bubble__title mlm-section__title">
			Дізнайся скільки ХР можна <br>отримати в <span class="orange">o′go</span> ком’юніті
		</div>
		<div class="mlm-bubble__text">
			На зображенні ліворуч — Оля. Натисни спершу на блакитний круг, що означатиме першого приведеного Олею друга. І дізнайся скільки ХР вона отримає, якщо тусовка продовжуватиме рости.
		</div>
		<div class="mlm-bubble__wrapper">
			<div class="mlm-bubble__card" style="background: url('./img/mlm-bubble-card-bg.png') no-repeat center / cover">
				<div class="mlm-bubble__card--image">
					<img src="./img/mlm-bubble-card-img.png" alt="XP">
				</div>
				<div class="mlm-bubble__card--item">
					<span data-xp-item>0</span>&nbsp;XP
				</div>
			</div>
			<div class="mlm-bubble__items">
				<div class="mlm-bubble__items--item js-bubble first" data-bubble-id="1">
					<div class="mlm-bubble__items--item__title">
						1-й друг
					</div>
					<div class="mlm-bubble__items--item__xp" data-xp-item-plus="200">
						+ 200 XP
					</div>
				</div>
				<div class="mlm-bubble__items--item not-visible js-bubble second" data-bubble-id="2">
					<div class="mlm-bubble__items--item__title">
						Друг, якого <br>
						привів друг Олі
					</div>
					<div class="mlm-bubble__items--item__xp" data-xp-item-plus="30">
						+ 30 XP
					</div>
				</div>
				<div class="mlm-bubble__items--item not-visible js-bubble third" data-bubble-id="3">
					<div class="mlm-bubble__items--item__title">
						Той, кого привели друзі друзів Олі
					</div>
					<div class="mlm-bubble__items--item__xp" data-xp-item-plus="20">
						+ 20 XP
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
