<section class="mlm-main">
	<div class="container">
		<div class="mlm-main__title--image">
			<img src="./img/mlm-main-logo.png" alt="mlm">
		</div>
		<div class="mlm-main--title">
			<h1><span class="orange">o’go</span> Club об’єднує</h1>
		</div>
		<div class="mlm-main__items">
			<div class="mlm-main__items--item">
				<p>Привівши друга ти отримаєш <br>до <span class="orange">350 ХР,</span> а запрошений тобою <br>друг - 200 ХР;</p>
			</div>
			<div class="mlm-main__items--item">
				<p>Якщо нових учасників запросить твій друг, отримаєш ще по <span class="orange">30 ХР</span> за кожного. І по <span class="orange">20&nbsp;ХР</span> за тих, кого привели друзі друзів;</p>
			</div>
			<div class="mlm-main__items--item">
				<p>Зверни увагу, що ХР нараховуються лише після реєстрації другом нового девайсу за інвайт-кодом.</p>
			</div>
		</div>
		<div class="mlm-main__generation">
			<div class="button-wrapper first button-wrapper-orange mlm-main__generation--btn">
				<button class="btn btn-orange js-mlm-invite"><span class="btn__text">Поділитись з другом <br>інвайт-кодом та інструкцією</span></button>
			</div>
			<div class="mlm-main__generation--generated" data-id="generated" style="display: none">
				<div class="mlm-main__generation--wrapper flex flex-center">
					<input type="text" value="https://myglo.com.ua/com/link_698468465468468464684654684684" readonly>
					<div class="button-wrapper button-wrapper-orange">
						<button class="btn btn-orange js-mlm-copy-code">
							<span class="btn__text">Cкопіювати <span class="mobile-hidden">посилання</span></span>
						</button>
					</div>
				</div>
				<div class="mlm-main__sharing flex flex-center">
					<a href="https://telegram.me/share/url?url=<URL>&text=<TEXT>" target="_blank">
						<img src="./img/mlm-telegram.svg" alt="telegram">
					</a>
					<a href="viber://pa/qr?chatURI=<URI>" target="_blank">
						<img src="./img/mlm-viber.svg" alt="viber">
					</a>
					<a href="https://www.facebook.com/sharer.php?u={url}" target="_blank">
						<img src="./img/mlm-facebook.svg" alt="facebook">
					</a>
				</div>
				<div class="mlm-main__caption--big">
					<p>Цей згенерований інвайт-код діє тільки для тих друзів, яких запрошуєш ти. Коли твій друг запросить свого друга - йому необхідно згенерувати новий свій власний інвайт-код.</p>
				</div>
			</div>
		</div>
		<div class="mlm-main__more">
			<a href="/">Детальніше</a>
		</div>
		<div class="mlm-main__caption">
			<p>* Друг — повнолітній споживач нікотиновмісної продукції.</p>
			<p>** Учасники отримають ХР, коли запрошений друг зареєструє новий девайс на сайті.</p>
		</div>
	</div>
</section>
