<section class="mlm-banner-invited">
	<div class="mlm-banner-invited__image">
		<picture>
			<source media="(max-width: 767px)" srcset="./img/mlm-banner-invited-mobile.png">
			<source media="(min-width: 768px)" srcset="./img/mlm-banner-invited.png">
			<img src="./img/mlm-banner-invited.png" alt="mlm">
		</picture>
	</div>
	<div class="mlm-banner-invited__wrapper">
		<div class="container">
			<div class="mlm-banner-invited__content">
				<div class="mlm-banner-invited__title mlm-section__title">
					ЩО ДАЄ ТОБІ <br>
					ІНВАЙТ-КОД <br>
					ВІД ДРУГА?
				</div>
				<div class="mlm-banner-invited__text">
					<p>Тобі будуть нараховані <span class="orange">200 ХР</span> одразу після реєстрації за інвайт-кодом нового девайсу; </p>
					<p>Твоєму другові також будуть нараховані ХР одразу після твоєї успішної реєстрації нового пристрою; </p>
				</div>
				<div class="mlm-banner-invited__conditions">
					Лише дві умови: купити девайс та зареєструвати його!
				</div>
			</div>
		</div>
	</div>
</section>
