<section class="mlm-device-invited">
	<div class="container">
		<div class="mlm-device-invited__title mlm-section__title">
			Залишилось лише вибрати девайс
		</div>
		<div class="mlm-device-invited__text">
			<p>Тепер ти знаєш як скористатись інвайт-кодом, щоб ти та твій друг отримали ХР. Вибирай для себе пристрій glo™, клади його в кошик та реєструй після отримання. Або ж прямуй у фірмовий магазин, щоб вибрати девайс та зареєструвати його там.</p>
			<p class="orange">Тільки не забудь про свій інвайт-код ;)</p>
		</div>
		<div class="mlm-device-invited-slider-inner">
			<div class="mlm-device-invited-slider-body  js-mlm-device-invited-slider">
				<div>
					//=include ../snippets/product-card-q.html
				</div>
				<div>
					//=include ../snippets/product-card-q.html
				</div>
				<div>
					//=include ../snippets/product-card-q.html
				</div>
				<div>
					//=include ../snippets/product-card-q.html
				</div>
			</div>
		</div>
		<div class="mlm-main-invited--row flex flex-center">
			<input type="text" value="ХХХ 420 069 ААА 550" readonly>
			<div class="button-wrapper button-wrapper-orange">
				<button class="btn btn-orange js-mlm-invited-copy-code">
					<span class="btn__text">Cкопіювати код</span>
				</button>
			</div>
		</div>
	</div>
</section>
