<div class="more-about-shops not-verified1">
	<div class="not-authorized-block">
		<p><span class="orange">Верифікуйся</span>, щоб дізнатись більше, <br>як отримувати XP за користування сервісами</p>
		<div class="button-wrapper button-wrapper-orange">
			<a class="btn btn-orange" href="/account"><span class="btn__text">Увійти</span></a>
		</div>
	</div>
	<div class="container">
			<div class="more-about-shops__wrapper">
				<span class="title-label flex flex-center">
					3
				</span>
				<div class="more-about-shops__title">
					Користуйся сервісами у фірмових магазинах та отримуй ХР
				</div>
				<div class="more-about-shops__subtitle">
					Відвідуй фірмові простори gloтм, та&nbsp;користуйся сервісами для кастомізації девайсів, отримай 5&nbsp;ХР&nbsp;за:
				</div>
				<div class="more-about-shops__items">
					<div class="more-about-shops__items--left">
						<div class="more-about-shops__item">
							<img src="./img/shops-flower.svg" alt="item" width="40" height="40">
							<span>Гравіювання девайсу</span>
						</div>
						<div class="more-about-shops__item">
							<img src="./img/shops-clean.svg" alt="item" width="40" height="40">
							<span>Професійну чистку девайсу</span>
						</div>
						<div class="more-about-shops__item">
							<img src="./img/shops-giftbox.svg" alt="item" width="40" height="40">
							<span>Подарункову упаковку</span>
						</div>
					</div>
					<div class="more-about-shops__items--right">
						<div class="more-about-shops__item">
							<img src="./img/shops-settings.svg" alt="item" width="40" height="40">
							<span>Сервісну <br>діагностику девайсу</span>
						</div>
						<div class="more-about-shops__item">
							<img src="./img/shops-secure.svg" alt="item" width="40" height="40">
							<span>Кастомізацію девайсу <br>захисною&nbsp;плівкою</span>
						</div>
					</div>
					<div class="more-about-shops__item last">
						<img src="./img/shops-upcycle.svg" alt="item" width="40" height="40">
						<span>Здавай старий девайс на переробку та отримуй 50&nbsp;XP</span>
					</div>
				</div>
				<div class="button-wrapper button-wrapper-orange">
					<a href="/" class="btn btn-orange">
						<span class="btn__text">Знайти найближчий магазин</span>
					</a>
				</div>
			</div>
		</div>
</div>

<style>
	.more-about-shops{
		background-image: url('./img/shops-bg.png');
	}
	@media screen and (max-width: 767px) {
		.more-about-shops{
			background-image: url('./img/shops-bg-mob.png');
		}
	}
</style>
