<div class="more-about-art">
	<div class="container">
		<div class="more-about-art__wrapper">
			<div class="more-about-art__title flex --align-center">
				<span class="title-label flex flex-center">
					4
				</span>
				<span>Проявляй свою творчість. <br>Долучайся до нашої <br>креативної Майстерні</span>
			</div>
			<div class="more-about-art__text">
				<p>Майстерня  — telegram-ком'юніті, де ніхто не обмежує себе у творчості. Це місце, де ми публікуємо завдання, які дозволяють учасникам креативити разом і отримувати задоволення від спілкування. У спільній творчості народжуються справжні скарби.</p>
				<p><b><span class="orange">Хочеш творити у колі однодумців?</span></b></p>
				<p><b>Приєднуйся до комʼюніті і відкривай в собі нові здібності. Це твій справжній шанс проявити себе.</b></p>
			</div>
			<div class="more-about-art__image">
				<img src="./img/art-image.png" alt="art">
			</div>
			<div class="button-wrapper button-wrapper-orange">
				<a href="/" class="btn btn-orange">
					<span class="btn__text">Доєднатись</span>
				</a>
			</div>
			<div class="more-about-art__announce flex --align-center">
				<div class="more-about-art__announce--left">
					<img src="./img/art-ogo-logo.png" alt="o`go">
				</div>
				<div class="more-about-art__announce--right">
					<div class="more-about-art__announce--right__text">
						Ми постійно оновлюємося, то ж на інші цікавинки чекай вже зовсім скоро
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
