<div class="more-about-change">
	<div class="container">
		<div class="more-about__section--title more-about-change--title">
			На що можна обміняти накопичені ХР?
		</div>
		<div class="more-about-change--content">
			<div class="more-about-change--content__item">
				<div class="item-image">
					<img src="./img/more-about-change-1.png" alt="img">
				</div>
				<div class="item-content">
					<div class="item-content__title">
						Аксесуари
					</div>
					<div class="item-content__text">
						Ти можеш обміняти свої ХР на&nbsp;крутезні аксесуари для твого девайсу glo тм
					</div>
					<div class="button-wrapper button-wrapper-orange">
						<a href="/" class="btn btn-orange">
							<span class="btn__text">До каталогу</span>
						</a>
					</div>
				</div>
			</div>
			<div class="more-about-change--content__item">
				<div class="item-image">
					<img src="./img/more-about-change-2.png" alt="img">
				</div>
				<div class="item-content">
					<div class="item-content__title">
						Мерч
					</div>
					<div class="item-content__text">
						Будь у стилі On THE Go: прояви свою унікальність у&nbsp;мерчі o’go
					</div>
					<div class="button-wrapper button-wrapper-orange">
						<a href="/" class="btn btn-orange">
							<span class="btn__text">До каталогу</span>
						</a>
					</div>
				</div>
			</div>
			<div class="more-about-change--content__item">
				<div class="item-image">
					<img src="./img/more-about-change-3.png" alt="img">
				</div>
				<div class="item-content">
					<div class="item-content__title">
						Гаджети
					</div>
					<div class="item-content__text">
						Обмінюй свої ХР на круті гаджети: мобільні телефони, навушники та смарт годинники
					</div>
					<div class="button-wrapper button-wrapper-orange">
						<a href="/" class="btn btn-orange">
							<span class="btn__text">До каталогу</span>
						</a>
					</div>
				</div>
			</div>
			<div class="more-about-change--content__item">
				<div class="item-image">
					<img src="./img/more-about-change-4.png" alt="img">
				</div>
				<div class="item-content">
					<div class="item-content__title">
						Сертифікати
					</div>
					<div class="item-content__text">
						Поповнюй мобільний рахунок, купуй продукти та ще багато іншого за ХР. Обмінюй поінти на сертифікати партнерських мереж
					</div>
					<div class="button-wrapper button-wrapper-orange">
						<a href="/" class="btn btn-orange">
							<span class="btn__text">До каталогу</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
