<style>

	.more-about-member{
		background-image: url('./img/more-about-member-bg.png');
	}
	@media screen and (max-width: 767px) {
		.more-about-member{
			background-image: url('./img/more-about-member-bg-mob.png');
		}
	}

</style>
<div class="more-about-member">
	<div class="container">
		<div class="more-about-member__content">
			<div class="more-about__section--title more-about-member__content--title">
				Ти автоматично стаєш учасником <span class="orange"><span class="lowercase">o'go</span>&nbsp;Club</span>
			</div>
			<div class="more-about-member__content--text">
				Здійснивши замовлення на сайті чи у фірмових просторах  gloТМ, після проходження процедури підтвердження віку і&nbsp;реєстраціі.
			</div>
			<div class="more-about-member__content--caption">
				<p>1 ХР = 1 грн</p>
				<p>XP * – це особисті Experience Points, які нараховуються учаснику за кожну дію у світі o’go club. Накопичені XP * можна обміняти на аксесуари, різні гаджети, мерч, VELO, тощо від o'go Club**.</p>
				<p>*XP не мають готівкового (грошового вираження та не можуть бути отримані в грошовому еквіваленті).</p>
				<p>**XP не нараховуються за придбання тютюновмісних виробів для електричного нагрівання та за придбання пристроїв для нагрівання тютюну gloТМ</p>
			</div>
		</div>
	</div>
</div>
