<div class="pop js-pop" style="display: none;">
    <div class="pop-box">
        <div class="pop-item pop-cart" id="pop_cart">
            <div class="cart">
                <div class="container">
                    <div class="h1">В кошику</div>
                    <div class="cart-inner">
                        <div class="cart-wrapper">
                            <div class="cart-box">
                                <div class="cart-item">
                                    <a href="#" class="cart-item-img">
                                        <img src="img/img-cart-1.png" alt="cart image">
                                    </a>
                                    <div class="cart-item-info">
                                        <div class="cart-item-body">
                                            <a href="#" class="cart-item-title">neo Demi Bright Tobacco</a>
                                            <span class="cart-item-someinfotext">до HYPER и HYPER+</span>
                                        </div>
                                        <div class="cart-item-foot">
                                            <div class="cart-item-quan quan js-quan">
                                                <i class="quan-btn quan-btn-minus">
                                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.875 4.236C12.5162 4.00225 10.1433 3.88184 7.7775 3.88184C6.375 3.88184 4.9725 3.95267 3.57 4.09434L2.125 4.236" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M6.02051 3.52025L6.17634 2.59234C6.28967 1.91942 6.37467 1.4165 7.57176 1.4165H9.42759C10.6247 1.4165 10.7168 1.94775 10.823 2.59942L10.9788 3.52025" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M13.3516 6.47412L12.8912 13.607C12.8133 14.7191 12.7495 15.5833 10.7733 15.5833H6.22579C4.24954 15.5833 4.18579 14.7191 4.10788 13.607L3.64746 6.47412" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M7.31738 11.6875H9.67613" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M6.72949 8.854H10.2712" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </i>
                                                <input type="number" class="quan-input" value="1">
                                                <i class="quan-btn quan-btn-plus">
                                                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12.057 6.62857H7.0856V11.6H5.42846V6.62857H0.457031V4.97143H5.42846V0H7.0856V4.97143H12.057V6.62857Z" fill="#3C3C3C"/>
                                                    </svg>
                                                </i>
                                            </div>
                                            <div class="cart-item-foot-info">
                                                <div class="cart-item-price">700 грн</div>
                                                <div class="cart-item-sometext">блок 10 пачок</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cart-item">
                                    <a href="#" class="cart-item-img">
                                        <img src="img/img-cart-2.png" alt="cart image">
                                    </a>
                                    <div class="cart-item-info">
                                        <div class="cart-item-body">
                                            <a href="#" class="cart-item-title">glo™ HYPER X2 Orange</a>
                                            <div class="cart-item-change someOption js-someOption">
                                                <div class="cart-item-change-box someOption-box">
                                                    <span>Колір: <span class="someOption-val">orange</span></span>
                                                    <i style="background-image: url('./img/color-1.png')"></i>
                                                    <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M11.5 0.5L6.25 5.5L1 0.5" stroke="#007FE6" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </div>
                                                <div class="cart-item-change-dropdown someOption-dropdown">
                                                    <div class="someOption-dropdown-head">
                                                        <span>Orange</span>
                                                        <i class="js-someOption-close">
                                                            <svg width="12" height="11" viewBox="0 0 12 11"  fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M6.37084 0.625L12 10.375L0.741669 10.375L6.37084 0.625Z" fill="#2B2D2F"/>
                                                            </svg>
                                                        </i>
                                                    </div>
                                                    <div class="someOption-dropdown-title">
                                                        Обрати інший розмір
                                                    </div>
                                                    <div class="someOption-dropdown-box">
                                                        <div class="someOption-dropdown-item" data-val="1">
                                                            <span>orange</span>
                                                            <i style="background-image: url('./img/color-1.png')"></i>
                                                        </div>
                                                        <div class="someOption-dropdown-item" data-val="2">
                                                            <span>khaki</span>
                                                            <i style="background-image: url('./img/color-2.png')"></i>
                                                        </div>
                                                        <div class="someOption-dropdown-item disabled" data-val="3">
                                                            <span>black & red</span>
                                                            <i style="background-image: url('./img/color-3.png')"></i>
                                                        </div>
                                                        <div class="someOption-dropdown-item" data-val="4">
                                                            <span>black</span>
                                                            <i style="background-image: url('./img/color-4.png')"></i>
                                                        </div>
                                                        <div class="someOption-dropdown-item" data-val="5">
                                                            <span>white & yellow</span>
                                                            <i style="background-image: url('./img/color-5.png')"></i>
                                                        </div>
                                                        <div class="someOption-dropdown-item" data-val="6">
                                                            <span>blue</span>
                                                            <i style="background-image: url('./img/color-6.png')"></i>
                                                        </div>
                                                        <div class="someOption-dropdown-item" data-val="7">
                                                            <span>teal</span>
                                                            <i style="background-image: url('./img/color-7.png')"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="cart_someOption_color" value="1">
                                            </div>
                                        </div>
                                        <div class="cart-item-foot">
                                            <div class="cart-item-quan quan js-quan">
                                                <i class="quan-btn quan-btn-minus">
                                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.875 4.236C12.5162 4.00225 10.1433 3.88184 7.7775 3.88184C6.375 3.88184 4.9725 3.95267 3.57 4.09434L2.125 4.236" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M6.02051 3.52025L6.17634 2.59234C6.28967 1.91942 6.37467 1.4165 7.57176 1.4165H9.42759C10.6247 1.4165 10.7168 1.94775 10.823 2.59942L10.9788 3.52025" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M13.3516 6.47412L12.8912 13.607C12.8133 14.7191 12.7495 15.5833 10.7733 15.5833H6.22579C4.24954 15.5833 4.18579 14.7191 4.10788 13.607L3.64746 6.47412" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M7.31738 11.6875H9.67613" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M6.72949 8.854H10.2712" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </i>
                                                <input type="number" class="quan-input" value="1">
                                                <i class="quan-btn quan-btn-plus">
                                                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12.057 6.62857H7.0856V11.6H5.42846V6.62857H0.457031V4.97143H5.42846V0H7.0856V4.97143H12.057V6.62857Z" fill="#3C3C3C"/>
                                                    </svg>
                                                </i>
                                            </div>
                                            <div class="cart-item-foot-info">
                                                <div class="cart-item-oldprice">1999 грн</div>
                                                <div class="cart-item-price">700 грн</div>
                                                <div class="cart-item-someinfo">
                                                    <span>або 4 999 ХР</span>
                                                    <i>
                                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5.4 9.6H6.6V8.4H5.4V9.6ZM6 0C2.688 0 0 2.688 0 6C0 9.312 2.688 12 6 12C9.312 12 12 9.312 12 6C12 2.688 9.312 0 6 0ZM6 10.8C3.354 10.8 1.2 8.646 1.2 6C1.2 3.354 3.354 1.2 6 1.2C8.646 1.2 10.8 3.354 10.8 6C10.8 8.646 8.646 10.8 6 10.8ZM6 2.4C4.674 2.4 3.6 3.474 3.6 4.8H4.8C4.8 4.14 5.34 3.6 6 3.6C6.66 3.6 7.2 4.14 7.2 4.8C7.2 6 5.4 5.85 5.4 7.8H6.6C6.6 6.45 8.4 6.3 8.4 4.8C8.4 3.474 7.326 2.4 6 2.4Z" fill="#2B2D2F"/>
                                                        </svg>
                                                    </i>
                                                    <span class="cart-item-someinfo-hint">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cart-item">
                                    <a href="#" class="cart-item-img">
                                        <img src="img/img-cart-3.png" alt="cart image">
                                    </a>
                                    <div class="cart-item-info">
                                        <div class="cart-item-body">
                                            <a href="#" class="cart-item-title">neo Demi Bright Tobacco</a>
                                            <div class="cart-item-change someOption someOption--size js-someOption">
                                                <div class="cart-item-change-box someOption-box">
                                                    <span>Розмір: <span class="someOption-val">24,5</span> см</span>
                                                    <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M11.5 0.5L6.25 5.5L1 0.5" stroke="#007FE6" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </div>
                                                <div class="cart-item-change-dropdown someOption-dropdown">
                                                    <div class="someOption-dropdown-head">
                                                        <span>24,5</span>
                                                        <i class="js-someOption-close">
                                                            <svg width="12" height="11" viewBox="0 0 12 11"  fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M6.37084 0.625L12 10.375L0.741669 10.375L6.37084 0.625Z" fill="#2B2D2F"/>
                                                            </svg>
                                                        </i>
                                                    </div>
                                                    <div class="someOption-dropdown-title">
                                                        Обрати інший розмір
                                                    </div>
                                                    <div class="someOption-dropdown-box">
                                                        <div class="someOption-dropdown-item" data-val="1">
                                                            <span>24,5</span>
                                                        </div>
                                                        <div class="someOption-dropdown-item" data-val="2">
                                                            <span>23,5</span>
                                                        </div>
                                                        <div class="someOption-dropdown-item disabled" data-val="3">
                                                            <span>22,5</span>
                                                        </div>
                                                        <div class="someOption-dropdown-item" data-val="4">
                                                            <span>21,5</span>
                                                        </div>
                                                        <div class="someOption-dropdown-item" data-val="5">
                                                            <span>20,5</span>
                                                        </div>
                                                        <div class="someOption-dropdown-item" data-val="6">
                                                            <span>19,5</span>
                                                        </div>
                                                        <div class="someOption-dropdown-item" data-val="7">
                                                            <span>18,5</span>
                                                        </div>
                                                        <div class="someOption-dropdown-item" data-val="8">
                                                            <span>17,5</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="cart_someOption_size" value="1">
                                            </div>
                                        </div>
                                        <div class="cart-item-foot">
                                            <div class="cart-item-quan quan js-quan">
                                                <i class="quan-btn quan-btn-minus">
                                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.875 4.236C12.5162 4.00225 10.1433 3.88184 7.7775 3.88184C6.375 3.88184 4.9725 3.95267 3.57 4.09434L2.125 4.236" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M6.02051 3.52025L6.17634 2.59234C6.28967 1.91942 6.37467 1.4165 7.57176 1.4165H9.42759C10.6247 1.4165 10.7168 1.94775 10.823 2.59942L10.9788 3.52025" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M13.3516 6.47412L12.8912 13.607C12.8133 14.7191 12.7495 15.5833 10.7733 15.5833H6.22579C4.24954 15.5833 4.18579 14.7191 4.10788 13.607L3.64746 6.47412" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M7.31738 11.6875H9.67613" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M6.72949 8.854H10.2712" stroke="#3C3C3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </i>
                                                <input type="number" class="quan-input" value="1">
                                                <i class="quan-btn quan-btn-plus">
                                                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12.057 6.62857H7.0856V11.6H5.42846V6.62857H0.457031V4.97143H5.42846V0H7.0856V4.97143H12.057V6.62857Z" fill="#3C3C3C"/>
                                                    </svg>
                                                </i>
                                            </div>
                                            <div class="cart-item-foot-info">
                                                <div class="cart-item-price">420 XP</div>
                                                <div class="cart-item-sometext">+ 1.2 грн</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-infobanner">
                                на Вашому рахунку 523 XP
                            </div>
                            <div class="cart-infotext">
                                * Відповідно до чинного законодавства ми не можемо дарувати товари, тому<br>
                                встановлюємо на кожен також символічну ціну у гривнях.
                            </div>
                        </div>
                        <div class="cart-aside">
                            <div class="cart-aside-box">
                                <div class="cart-aside-head">
                                    <span>3 товари на сумму</span>
                                    <span>1 699 грн</span>
                                </div>
                                <div class="cart-aside-delivery">
                                    <div class="cart-aside-delivery-title">Доставка:</div>
                                    <span>
                            Зроби замовлення на суму від 1400 грн <br>
                            і доставка буде здійснена за наш рахунок
                        </span>
                                </div>
                                <div class="cart-aside-promo">
                                    <div class="cart-aside-promo-title">Додати промокод</div>
                                    <div class="cart-aside-promo-box"></div>
                                </div>
                                <div class="button-wrapper button-wrapper-orange">
                                    <button class="btn btn-orange">
                                        <span class="btn__text">Оформити замовлення</span>
                                    </button>
                                </div>
                            </div>
                            <div class="cart-aside-foot">
                                <b>+ 523 xp</b> нарахуємо за замовлення
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pop-close js-pop-close">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L29 29" stroke="#2B2D2F" stroke-width="2" stroke-linecap="round"/>
                    <path d="M1 29L29 1" stroke="#2B2D2F" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </div>
        </div>
        <div class="pop-item pop-delivery" id="delivery-edit">
            <form action="" class="pop-delivery-form">
                <div class="pop-delivery-form-item">
                    <div class="pop-title">Редагування адреси</div>
                    <div class="form-group form-group-labels">
                        <span class="label">Місто</span>
                        <select name="delivery-town" id="delivery-town">
                            <option value="1">Київ</option>
                            <option value="2">Одеса</option>
                            <option value="3">Львів</option>
                        </select>
                    </div>
                    <div class="form-group-flex">
                        <div class="form-group form-group-labels">
                            <span class="label">Вулиця</span>
                            <input type="text" name="delivery-name" value="вул. Чигиринська">
                        </div>
                        <div class="form-group form-group-labels">
                            <span class="label">Будинок</span>
                            <input type="text" name="delivery-house" value="42/1">
                        </div>
                        <div class="form-group form-group-labels">
                            <span class="label">Квартира</span>
                            <input type="text" name="delivery-flat" value="122">
                        </div>
                    </div>
                </div>
                <div class="pop-delivery-form-item">
                    <div class="form-group-btn">
                        <div class="button-wrapper button-wrapper-orange has-enabled">
                            <button type="submit" class="btn btn-orange">
                                <span class="btn__text">Зберегти</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="pop-close js-pop-close">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L19 19" stroke="#2B2D2F"/>
                    <path d="M1 19L19 1" stroke="#2B2D2F"/>
                </svg>
            </div>
        </div>
        <div class="pop-item pop-delivery" id="delivery-new">
            <form action="" class="pop-delivery-form">
                <div class="pop-delivery-form-item">
                    <div class="pop-title">Додати адресу</div>
                    <div class="form-group form-group-labels">
                        <span class="label">Місто</span>
                        <select name="delivery-town" id="delivery-town-new">
                            <option value="1">Київ</option>
                            <option value="2">Одеса</option>
                            <option value="3">Львів</option>
                            <option value="2">Черкаси</option>
                            <option value="3">Хмельницький</option>
                        </select>
                    </div>
                    <div class="form-group-flex">
                        <div class="form-group form-group-labels">
                            <span class="label">Вулиця</span>
                            <input type="text" name="delivery-name-new" value="">
                        </div>
                        <div class="form-group form-group-labels">
                            <span class="label">Будинок</span>
                            <input type="text" name="delivery-house-new" value="">
                        </div>
                        <div class="form-group form-group-labels">
                            <span class="label">Квартира</span>
                            <input type="text" name="delivery-flat-new" value="">
                        </div>
                    </div>
                </div>
                <div class="pop-delivery-form-item">
                    <div class="form-group-btn">
                        <div class="button-wrapper button-wrapper-orange has-enabled">
                            <button type="submit" class="btn btn-orange">
                                <span class="btn__text">Зберегти</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="pop-close js-pop-close">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L19 19" stroke="#2B2D2F"/>
                    <path d="M1 19L19 1" stroke="#2B2D2F"/>
                </svg>
            </div>
        </div>
        <div class="pop-item pop-diya" id="pop_diya">
            <div class="pop-close js-pop-close">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L19 19" stroke="#2B2D2F"/>
                    <path d="M1 19L19 1" stroke="#2B2D2F"/>
                </svg>
            </div>
            <div class="pop-title">Дія.Підпис</div>
            <div class="pop-text">
                <p>Lorem ipsum dolor sit amet consectetur. Egestas dolor ac amet ac et massa. Ipsum enim enim vitae odio porttitor. Purus orci magna auctor sit bibendum magna cras tempor. Hac id at vel fermentum integer dolor. Dignissim eget ultricies tristique adipiscing sem. Magna ultricies aenean sed lectus non neque at orci pretium. Vitae pellentesque vitae at hendrerit nunc vitae pretium sed. Sed amet phasellus vitae lacinia magna id. Diam aenean adipiscing amet in et sed dictum vitae vel.</p>
                <p>Nibh fusce at tellus orci morbi ut nunc vulputate sed. Tortor urna placerat urna turpis libero. Ut imperdiet massa nisi aliquet arcu eu non. Vitae nulla et id mattis. Mi enim magna et risus tellus a ipsum. Vivamus tincidunt nullam est enim leo arcu volutpat sed. Lacus pharetra sed facilisis habitasse odio consequat. Aliquet et faucibus dui fermentum aliquet. Cursus velit tincidunt cursus dolor semper adipiscing auctor.</p>
                <p>Dis malesuada ullamcorper venenatis quis sagittis.</p>
            </div>
        </div>
        <div class="pop-item pop-withbtns pop-textcenter pop-some" id="pop_age">
            <div class="pop-title">Перевірка віку</div>
            <div class="pop-text">Цей сайт призначений для осіб віком старше 18 років, які є споживачами тютюнових або нікотиновмісних виробів та проживають на території України.</div>
            <div class="pop-question">Вам виповнилося 18 років і ви споживаєте тютюн?</div>
            <div class="pop-btns">
                <div class="button-wrapper button-wrapper-default">
                    <div class="btn btn-default">
                        <span class="btn__text">Ні</span>
                    </div>
                </div>
                <div class="button-wrapper button-wrapper-orange">
                    <div class="btn btn-orange js-pop-close">
                        <span class="btn__text">Так</span>
                    </div>
                </div>
            </div>
            <div class="pop-close js-pop-close">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L19 19" stroke="#2B2D2F"/>
                    <path d="M1 19L19 1" stroke="#2B2D2F"/>
                </svg>
            </div>
        </div>
        <div class="pop-item pop-some" id="pop_age2">
            <div class="pop-title">Перевірка віку</div>
            <div class="pop-text">Цей сайт призначений для осіб віком старше 18 років, які є споживачами тютюнових або нікотиновмісних виробів та проживають на території України.</div>
            <div class="pop-close js-pop-close">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L19 19" stroke="#2B2D2F"/>
                    <path d="M1 19L19 1" stroke="#2B2D2F"/>
                </svg>
            </div>
        </div>
        <div class="pop-overlay js-pop-overlay"></div>
    </div>
</div>
