<!--add class .not-authorized if user not-authorized-->
<section class="product-device-info">
	<div class="not-authorized-block flex --align-center">
		<div class="button-wrapper button-wrapper-orange">
			<a class="btn btn-orange" href="/account"><span class="btn__text">Увійти</span></a>
		</div>
		<p>, щоб переглянути</p>
	</div>
	<div class="container">
		<div class="product-device-info-container grid">
			<div class="product-device-info-row flex --align-stretch">
                <div style="background-size: cover;" class="product-device-info-card product-device-info-card--big">
                    <div class="product-device-info-card-img fullwidth fullwidth-cover">
                        <img src="./img/product-info-card-5.png" alt="product desc">
                    </div>
                </div>
                <div style="background-image: url('./img/pattern-sky.png'); background-size: cover;" class="product-device-info-card product-device-info-card--small">
                    <div class="product-device-info-card-text">
                        <h3>
                            <p>Найкомпактніший пристрій glo™ в лінійці Hyper</p>
                        </h3>
                    </div>
                    <div class="product-device-info-card-img fullwidth">
                        <img src="./img/product-info-card-6.png" alt="product desc">
                    </div>
                </div>
			</div>
            <div class="product-device-info-row flex --align-stretch">
                <div style="background-size: cover;" class="product-device-info-card product-device-info-card--big">
                    <div class="product-device-info-card-text">
                        <h3>
                            <p>Прогресивна <br>технологія</p>
                        </h3>
                    </div>
                    <div class="product-device-info-card-img fullwidth fullwidth-cover">
                        <img src="./img/product-info-card-7.png" alt="product desc">
                    </div>
                </div>
                <div style="background-size: cover;" class="product-device-info-card product-device-info-card--small">
                    <div class="product-device-info-card-text">
                        <h3>
                            <p>Тривалий заряд</p>
                        </h3>
                    </div>
                    <div class="product-device-info-card-img fullwidth fullwidth-cover">
                        <img src="./img/product-info-card-8.png" alt="product desc">
                    </div>
                    <i class="product-device-info-ico">
                        <svg width="58" height="35" viewBox="0 0 58 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0903 31H8.54516C7.33971 31 6.18363 30.5259 5.33125 29.682C4.47886 28.8381 4 27.6935 4 26.5V8.5C4 7.30653 4.47886 6.16193 5.33125 5.31802C6.18363 4.47411 7.33971 4 8.54516 4H15.7947M35.8161 4H40.3613C41.5667 4 42.7228 4.47411 43.5752 5.31802C44.4275 6.16193 44.9064 7.30653 44.9064 8.5V26.5C44.9064 27.6935 44.4275 28.8381 43.5752 29.682C42.7228 30.5259 41.5667 31 40.3613 31H33.1117" stroke="white" stroke-width="3.4355" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M54 19.7495V15.2495" stroke="white" stroke-width="3.4355" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M26.7231 4L17.6328 17.5H31.2683L22.178 31" stroke="white" stroke-width="3.4355" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </i>
                </div>
            </div>
		</div>
	</div>
</section>
