<section data-anchor="spec" class="device-spec">
	<div class="container">
		<div class="device-spec-inner">
			<div class="device-spec-heading flex --justify-between product-spec-grid">
				<div class="device-spec-title">
					Новий glo™ HYPER X2
				</div>
				<div class="device-spec-desc">
					Продовження лінійки glo™ HYPER, куди входять девайси HYPER, HYPER+ HYPER+ UNIQ. Наразі це найсучасніший пристрій для нагрівання тютюну бренду glo™. Він оновлений для тебе так, щоб користуватися ним було ще краще. Саме тому пристрій вражає цілковито новим стильним дизайном і покращеними характеристиками.
				</div>
			</div>
			<div class="device-spec-tables product-spec-grid flex --justify-between">
				<div class="device-spec-table">
					<div class="device-spec-table-row flex --justify-between">
						<div class="device-spec-table-col">
							Порт для заряджання
						</div>
						<div class="device-spec-table-col">
							Type C
						</div>
					</div>
					<div class="device-spec-table-row flex --justify-between">
						<div class="device-spec-table-col">
							Габарити пакування
						</div>
						<div class="device-spec-table-col">
							109 * 86 * 50 мм
						</div>
					</div>
					<div class="device-spec-table-row flex --justify-between">
						<div class="device-spec-table-col">
							Вага, г

						</div>
						<div class="device-spec-table-col">
							102
						</div>
					</div>
					<div class="device-spec-table-row flex --justify-between">
						<div class="device-spec-table-col">
							Час нагріву
						</div>
						<div class="device-spec-table-col">
							20 секунд
						</div>
					</div>
					<div class="device-spec-table-row flex --justify-between">
						<div class="device-spec-table-col">
							Колір
						</div>
						<div class="device-spec-table-col">
							Чорний + Червоний
						</div>
					</div>
					<div class="device-spec-table-row flex --justify-between">
						<div class="device-spec-table-col">
							Тривальсть сесії
						</div>
						<div class="device-spec-table-col">
							4 хвилини
						</div>
					</div>

				</div>
				<div class="device-spec-table">
					<div class="device-spec-table-row flex --justify-between">
						<div class="device-spec-table-col">
							Країна-виробник товару
						</div>
						<div class="device-spec-table-col">
							Китай
						</div>
					</div>
					<div class="device-spec-table-row flex --justify-between">
						<div class="device-spec-table-col">
							Країна реєстрації бренду
						</div>
						<div class="device-spec-table-col">
							Великобританії
						</div>
					</div>
					<div class="device-spec-table-row flex --justify-between">
						<div class="device-spec-table-col">
							Гарантія
						</div>
						<div class="device-spec-table-col">
							12 місяців
						</div>
					</div>
					<div class="device-spec-table-row flex --justify-between">
						<div class="device-spec-table-col">
							Комплектація
						</div>
						<div class="device-spec-table-col">
							<ul>
								<li>Пристрій для нагрівання тютюну Glo HYPER;</li>
								<li>Інструкція користувача</li>
								<li>Щітка для чищення;</li>
								<li>USB-кабель і блок живлення для заряджання;</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
