<section class="product-slider">
	<div class="container">
		<h2 class="section-title">Sale</h2>
		<div class="product-slider-inner">
			<div class="product-slider-js">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						//=include ../snippets/product-card-1-sale.html
					</div>
					<div class="swiper-slide">
						//=include ../snippets/product-card-2-sale.html
					</div>
					<div class="swiper-slide">
						//=include ../snippets/product-card-3-sale.html
					</div>
					<div class="swiper-slide">
						//=include ../snippets/product-card-4-sale.html
					</div>
					<div class="swiper-slide">
						//=include ../snippets/product-card-5-sale.html
					</div>
					<div class="swiper-slide">
						//=include ../snippets/product-card-6-sale.html
					</div>
				</div>
				<div class="product-slider-nav flex flex-center">
					<div class="product-slider-nav-button product-slider-nav-button-prev"><span class="icon-arrow-item"></span></div>
					<div class="product-slider-pagination"></div>
					<div class="product-slider-nav-button product-slider-nav-button-next"><span class="icon-arrow-item"></span></div>
				</div>
			</div>
		</div>
	</div>
</section>
