<!--add class .not-authorized if user not-authorized-->
<section class="product-device-info">
	<div class="not-authorized-block flex --align-center">
		<div class="button-wrapper button-wrapper-orange">
			<a class="btn btn-orange" href="/account"><span class="btn__text">Увійти</span></a>
		</div>
		<p>, щоб переглянути</p>
	</div>
	<div class="container">
		<div class="product-device-info-container grid">
			<div class="product-device-info-row flex --align-stretch">
				<div style="background-image: url('./img/pattern-blue.png'); background-size: cover;" class="product-device-info-card product-device-info-card--big">
					<div class="product-device-info-card-text">
						<h3>
							<p>Великий вибір 6 кольорів</p>
						</h3>
						<p>як й iншi девайси iз лінійки glow hyper, новинка сумісна зі стіками формату «Демі».</p>
					</div>
					<div class="product-device-info-card-img right-top">
						<img src="./img/product-info-card-1.png" alt="product desc">
					</div>
				</div>
				<div style="background-image: url('./img/info-card-bg-1.png'); background-size: cover;" class="product-device-info-card product-device-info-card--small">
					<div class="product-device-info-card-text">
						<h3>
							<p>вишуканий <br> оновлений дизайн</p>
						</h3>
						<p> - IRIS-затвор, який захищає пристрій від пилу та сміття.</p>
					</div>
				</div>
			</div>
			<div class="product-device-info-row flex --align-stretch">
				<div style="background-image: url('./img/pattern-blue.png'); background-size: cover;" class="product-device-info-card product-device-info-card--big">
					<div class="product-device-info-card-text">
						<h3>
							<p>окрема кнопка <br>
								для Boost режиму</p>
						</h3>
						<p>Окрема кнопка для активації режиму Boost. Режим Boost дозволяє скоротити час нагрівання девайсу, отже пристрій буде швидше готовим до використання (порівняно з роботою у стандартному режимі).</p>
					</div>
					<div class="product-device-info-card-img right-bottom">
						<img src="./img/product-info-card-2.png" alt="product desc">
					</div>
				</div>
				<div style="background-image: url('./img/info-card-bg-2.png'); background-size: cover;" class="product-device-info-card product-device-info-card--small">
					<div class="product-device-info-card-text">
						<h3>
							<p>оновлений <br> led-індикатор <br> для твоєї зручності</p>
						</h3>
						<p> Новинка має такі покращені функції:
							- LED-iндикатори, якi тепер ще краще показують прогрес сесії, стан зарядки девайса та активацію режиму Boost.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
