<div class="review">
	<div class="container">
		<div class="review-title">
			<h1>Поділися своїми враженнями!</h1>
		</div>
		<div class="review-form">
			<form action="/">
				<div class="review-form__item required">
					<div class="review-form__item--title">
						Які ПАУЧІ VELO ти найчастіше вживаєш?<span class="orange">*</span>
					</div>
					<div class="review-form__item--subtitle">
						Можна обрати декілька варіантів
					</div>
					<div class="review-form__item--wrapper velo">
						<div class="form-group">
							<div class="checkbox">
								<input type="checkbox" name="f" id="velo-1" value="1">
								<label for="velo-1">BERRY FROST MEDIUM MINI</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<input type="checkbox" name="f" id="velo-2" value="1">
								<label for="velo-2">ІCE COOL STRONG</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<input type="checkbox" name="f" id="velo-3" value="1">
								<label for="velo-3">BERRY FROST X-STRONG</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<input type="checkbox" name="f" id="velo-4" value="1">
								<label for="velo-4">FREEZE X-STRONG</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<input type="checkbox" name="f" id="velo-5" value="1">
								<label for="velo-5">TROPIC BREEZE Х-STRONG</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<input type="checkbox" name="f" id="velo-6" value="1">
								<label for="velo-6">URBAN VIBE ULTRA</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<input type="checkbox" name="f" id="velo-7" value="1">
								<label for="velo-7">X-FREEZE ULTRA</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<input type="checkbox" name="f" id="velo-8" value="1">
								<label for="velo-8">8ARCTIC FROST MAX</label>
							</div>
						</div>
					</div>
					<div class="review-form__item--error flex flex-center">
						<span class="review-form__item--error-icon">
							<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="8" cy="7.5" r="7" stroke="#FF0000"/>
								<path d="M7.652 9.696V3.36H8.672V9.696H7.652ZM7.58 12V10.728H8.756V12H7.58Z" fill="#FF0000"/>
							</svg>
						</span>
						<span class="review-form__item--error-text">необхідно обрати паучі</span>
					</div>
				</div>
				<div class="review-form__item required">
					<div class="review-form__item--title">
						Чи задоволений ти якістю продукції?<span class="orange">*</span>
					</div>
					<div class="review-form__item--subtitle">
						(Оціни від 0 до 10, де 0 – зовсім незадоволений <br>
						10 - повністю задоволений)
					</div>
					<div class="review-form__item--wrapper review-range">
						<div class="range-slider">
							<span id="rs-bullet" class="rs-label">0</span>
							<input id="rs-range-line" class="rs-range" name="rating" type="range" value="0" min="0" max="10">
						</div>
						<div class="box-minmax">
							<span>0</span><span>10</span>
						</div>
					</div>
					<div class="review-form__item--error flex flex-center">
						<span class="review-form__item--error-icon">
							<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="8" cy="7.5" r="7" stroke="#FF0000"/>
								<path d="M7.652 9.696V3.36H8.672V9.696H7.652ZM7.58 12V10.728H8.756V12H7.58Z" fill="#FF0000"/>
							</svg>
						</span>
						<span class="review-form__item--error-text">необхідно вказати оцінку</span>
					</div>
				</div>
				<div class="review-form__item message">
					<div class="review-form__item--title">
						Залиш відгук
					</div>
					<div class="review-form__item--subtitle">
						(за бажанням)
					</div>
					<div class="review-form__item--wrapper">
						<textarea name="message"></textarea>
					</div>
				</div>
				<div class="button-wrapper button-wrapper-orange">
					<button class="btn btn-orange">
						<span class="btn__text">Поділитися враженнями</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
