<footer class="footer">
	<div class="container">
		<div class="footer-inner-top">
			<div class="footer-inner-top__item">
				<div class="footer-first-column">
					<a href="/">
						<picture>
							<source media="(max-width: 767px)" srcset="./img/footer-logo-mobile.svg">
							<source srcset="./img/footer-logo.svg">
							<img src="./img/footer-logo.svg" alt="Golden Flowers">
						</picture>
					</a>
					<div class="footer-socials flex flex-center mobile-lg-hidden">
						<a class="footer-socials-item" href="/" target="_blank"><span class="icon-fb-icon"></span></a>
						<a class="footer-socials-item" href="/" target="_blank"><span class="icon-instagram-icon"></span></a>
					</div>
				</div>
			</div>
			<div class="footer-inner-top__item">
				<div class="footer-heading">
					Contacts
				</div>
				<div class="footer-contact-list">
					<div class="footer-contact-list__item flex --align-center">
						<span class="footer-contact-icon icon-adress-icon"></span>
						<span class="footer-contact-text">19728 Sunset ct Tinley Park 60487</span>
					</div>
					<div class="footer-contact-list__item  flex --align-center">
						<span class="footer-contact-icon icon-phone-icon"></span>
						<span class="footer-contact-text"><a href="tel:+13126479214">+1312-647-9214</a></span>
					</div>
					<div class="footer-contact-list__item  flex --align-center">
						<span class="footer-contact-icon icon-mail-icon"></span>
						<span class="footer-contact-text"><a href="mailto:golden7flowers@gmail.com">golden7flowers@gmail.com</a></span>
					</div>
					<div class="footer-contact-list__item  flex --align-center">
						<span class="footer-contact-icon icon-clock-icon"></span>
						<span class="footer-contact-text">Monday-Sunday: 9:00 am - 9:00 pm</span>
					</div>
				</div>
				<div class="footer-newsletter">
					<form action="/" id="ContactFooter" class="footer-newsletter-form">
					<input type="hidden" name="contact[tags]" value="newsletter">
					<div class="newsletter-form__field-wrapper">
						<label class="field__label" for="NewsletterForm--{{ section.id }}">
							Sign up for our newsletter
						</label>
						<div class="field flex --align-center --justify-between">
							<input
								id="NewsletterForm--{{ section.id }}"
								type="email"
								name="contact[email]"
								class="field__input"
								value=""
								aria-required="true"
								autocorrect="off"
								autocapitalize="off"
								autocomplete="email"
								placeholder="E-mail"
								required
							>
							<button
								type="submit"
								class="newsletter-form__button field__button"
								name="commit"
								id="Subscribe"
								aria-label="/"
							>
								Submit
							</button>
						</div>

<!--						<small class="newsletter-form__message form__message" id="ContactFooter-error">-->
<!--							error-->
<!--						</small>-->
					</div>
<!--					<h3-->
<!--						class="newsletter-form__message newsletter-form__message&#45;&#45;success form__message"-->
<!--						id="ContactFooter-success"-->
<!--						tabindex="-1"-->
<!--						autofocus-->
<!--					>-->
<!--						Thank you for subscribe-->
<!--					</h3>-->
					</form>
				</div>
				<div class="footer-socials flex flex-center tablet-descktop-hidden">
					<a class="footer-socials-item" href="/" target="_blank"><span class="icon-fb-icon"></span></a>
					<a class="footer-socials-item" href="/" target="_blank"><span class="icon-instagram-icon"></span></a>
				</div>
			</div>
			<div class="footer-inner-top__item">
				<div class="footer-heading">
					CATALOG
				</div>
				<ul class="footer-nav-list footer-catalog-list">
					<li class="footer-nav-list__item"><a href="/">Bouquets</a></li>
					<li class="footer-nav-list__item"><a href="/">Boxes</a></li>
					<li class="footer-nav-list__item"><a href="/">Weddings</a></li>
					<li class="footer-nav-list__item"><a href="/">Funeral</a></li>
					<li class="footer-nav-list__item"><a href="/">Baloons</a></li>
					<li class="footer-nav-list__item"><a href="/">Toys</a></li>
				</ul>
			</div>
			<div class="footer-inner-top__item">
				<div class="footer-heading">
					Information
				</div>
				<ul class="footer-nav-list footer-information-list">
					<li class="footer-nav-list__item"><a href="/">About us</a></li>
					<li class="footer-nav-list__item"><a href="/">News</a></li>
					<li class="footer-nav-list__item"><a href="/">Terms of service</a></li>
					<li class="footer-nav-list__item"><a href="/">Privacy Policy</a></li>
					<li class="footer-nav-list__item"><a href="/">FAQ</a></li>
					<li class="footer-nav-list__item"><a href="/">Delivery Terms</a></li>
					<li class="footer-nav-list__item"><a href="/">Return Policy</a></li>
					<li class="footer-nav-list__item"><a href="/">Contact us</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-inner-bottom">
		<div class="container">
			<div class="footer-bottom-wrapper flex --align-center --justify-between">
				<div class="copyright">
					© All Rights Reserved.
				</div>
				<div class="footer-payments flex --align-center --justify-end">
					<div class="footer-payments-item"><img src="./img/googlePay.svg" alt="G-pay"></div>
					<div class="footer-payments-item"><img src="./img/visa.svg" alt="Visa"></div>
					<div class="footer-payments-item"><img src="./img/master-card.svg" alt="MasterCard"></div>
				</div>
			</div>
		</div>

	</div>
</footer>
