<div class="announcement-bar">
	<div class="container">
		<div class="announcement-bar__wrapper flex --align-center --justify-center">
			<div class="announcement-bar__phrase">
				Bouquets Sale -10%
			</div>
		</div>
	</div>
</div>
<section id="shopify-section-ogo-header" class="shopify-section">
	<sticky-header>
		<header class="header">
			<div class="container">
				<div class="header-wrapper grid header-grid">
					<div class="header-item flex --align-center header-left">
						<div class="header-menu">
							<nav class="header-list flex --align-center">
								<div class="header-list__item has-child">
									<a href="/">Catalog</a>
									<span class="header-list__item--arrow icon-arrow-item"></span>
									<div class="header-list__child">
										<div class="header-list__child--item">
											<a href="/">Bouquets</a>
										</div>
										<div class="header-list__child--item">
											<a href="/">Weddings</a>
										</div>
										<div class="header-list__child--item">
											<a href="/">Funeral</a>
										</div>
										<div class="header-list__child--item">
											<a href="/">Baloons</a>
										</div>
										<div class="header-list__child--item">
											<a href="/">Boxes</a>
										</div>
										<div class="header-list__child--item">
											<a href="/">Toys</a>
										</div>
									</div>
								</div>
								<div class="header-list__item">
									<a href="/">About us</a>
								</div>
								<div class="header-list__item">
									<a href="/">Contacts</a>
								</div>
							</nav>
						</div>
						<div class="header-item js-header-menu-btn header-menu-btn">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
								<path d="M9.81457 3.84554C11.0212 2.6389 12.9776 2.6389 14.1842 3.84554C15.3909 5.05219 15.3909 7.00854 14.1842 8.21519L11.9994 10.4L9.81457 8.21519C8.60792 7.00854 8.60792 5.05219 9.81457 3.84554Z" stroke="#1E1F1E"/>
								<path d="M16.7376 10.7684C17.9442 9.56175 19.9006 9.56175 21.1072 10.7684C22.3139 11.975 22.3139 13.9314 21.1072 15.138C19.9006 16.3447 17.9442 16.3447 16.7376 15.138L14.5528 12.9532L16.7376 10.7684Z" stroke="#1E1F1E"/>
								<path d="M2.89181 10.7684C4.09845 9.56175 6.05481 9.56175 7.26145 10.7684L9.44627 12.9532L7.26145 15.138C6.05481 16.3447 4.09845 16.3447 2.89181 15.138C1.68516 13.9314 1.68516 11.975 2.89181 10.7684Z" stroke="#1E1F1E"/>
								<path d="M11.9994 15.5074L14.1842 17.6922C15.3909 18.8989 15.3909 20.8552 14.1842 22.0619C12.9776 23.2685 11.0212 23.2685 9.81457 22.0619C8.60792 20.8552 8.60792 18.8989 9.81457 17.6922L11.9994 15.5074Z" stroke="#1E1F1E"/>
							</svg>
						</div>
						<div class="header-mobile-menu mobile-menu">
							<div class="mobile-menu-head flex --justify-between --align-center">
								<span>Menu</span>
								<span class="icon-xmark js-mobile-menu-close"></span>
							</div>
							<nav class="mobile-menu-body">
								<ul>
									<li class="mobile-menu__item"><a href="#">Shop all</a></li>
									<li class="mobile-menu__item"><a href="#">Best sellers</a></li>
									<li class="mobile-menu__item"><a href="#">Sales</a></li>
									<li class="mobile-menu__item has-child">
										<span class="has-child-wrapper flex --align-center --justify-between">
											<a href="#">Categories</a>
											<span class="icon-arrow-item js-open-child"></span>
										</span>
										<ul class="child" style="display: none">
											<li><a href="/">Bouquets</a></li>
											<li><a href="/">Weddings</a></li>
											<li><a href="/">Funeral</a></li>
											<li><a href="/">Baloons</a></li>
											<li><a href="/">Boxes</a></li>
											<li><a href="/">Toys</a></li>
										</ul>
									</li>
									<li class="mobile-menu__item"><a href="#">About us</a></li>
									<li class="mobile-menu__item"><a href="#">FAQ</a></li>
									<li class="mobile-menu__item"><a href="#">Delivery</a></li>
									<li class="mobile-menu__item"><a href="#">Contacts</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="header-item flex-center header-logo">
						<a href="/" class="logo-link">
							<img src="./img/logo.svg" width="120" height="77" alt="O`go">
						</a>
					</div>
					<div class="header-item header-right flex --justify-end --align-center">
						<div class="header-buttons flex">
							<div class="header-buttons__item">
								<a href="">
									<span class="icon-wishlist-icon"></span>
								</a>
							</div>
							<div class="header-buttons__item">
								<a href="">
									<span class="icon-user-icon"></span>
								</a>
							</div>
							<div class="header-buttons__item header-cart">
								<a href="">
									<span class="icon-cart-icon"></span>
									<span class="header-cart-count flex flex-center">
										55
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</sticky-header>
</section>





